<html>
  <head>
    <title>WiFi Controlled Car (hophd.com)</title>
  </head>
  <body>
    <center>
 
 
 
<h1>WiFi Controlled Car (hophd.com)</h1>
 
 
 
      <img src="{{ url_for('video_feed') }}">
      <a href='/go'>Go</a> . 
      <a href='/back'>Back</a> . 
      <a href='/stop'>Stop</a> . 
      <a href='/right'>Turn Right</a> . 
      <a href='/left'>Turn Left</a>
 
 
 
<hr>
 
 
 
    {% if cmd %}
 
 
 
<h2> Your Command: {{ cmd }} </h2>
 
 
 
    {% endif %}
    </center>
  </body>
</html>